{% extends 'base.html.twig' %}



{% block body %}

    <div id="header" class="content-block">

        <section class="center">
            <div class="slogan">
                SNOWTRICKS
            </div>
            <div class="secondary-slogan">
                Communauté de Snowboarder.
            </div>
        </section>
    </div><!-- header -->

    <div class="content-block" id="blog">
        <div class="container blog-sec">
            <header class="block-heading cleafix">
                <a href="#" class="btn btn-o btn-lg pull-right">Ajoutez une figure !</a>
                <div class="title-page">
                    <p class="main-header">Toutes les4 figures</p>
                    <p class="sub-header">Keep up with the latest happenings.</p>
                </div>
            </header>
            <section class="block-body">
                <div class="row">
                    <div class="col-sm-3 blog-post">
                        <img src="{{ asset('assets/images/header-bg.jpg') }}">
                        <a href="#"><h2>FIGURE 1 <i class="glyphicon glyphicon-trash"></i> <i class="glyphicon glyphicon-pencil"> </i> </h2> </a>

                    </div>
                    <div class="col-sm-3 blog-post">
                        <img src="{{ asset('assets/images/header-bg.jpg') }}">
                        <a href="#"><h2>FIGURE 2 <i class="glyphicon glyphicon-trash"></i> <i class="glyphicon glyphicon-pencil"> </i> </h2> </a>
                    </div>
                    <div class="col-sm-3 blog-post">
                        <img src="{{ asset('assets/images/header-bg.jpg') }}">
                        <a href="#"><h2>FIGURE 3 <i class="glyphicon glyphicon-trash"></i> <i class="glyphicon glyphicon-pencil"> </i> </h2> </a>
                    </div>
                    <div class="col-sm-3 blog-post">
                        <img src="{{ asset('assets/images/header-bg.jpg') }}">
                        <a href="#"><h2>FIGURE 4 <i class="glyphicon glyphicon-trash"></i> <i class="glyphicon glyphicon-pencil"> </i> </h2> </a>
                    </div>
                    <div class="col-sm-3 blog-post">
                        <img src="{{ asset('assets/images/header-bg.jpg') }}">
                        <a href="#"><h2>FIGURE 5 </h2> </a>

                    </div>

                </div>
            </section>
        </div>
    </div>
{% endblock %}