{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}

    <div id="header" class="content-block">

        <section class="center">
            <div class="slogan">
                SNOWTRICKS
            </div>
            <div class="secondary-slogan">
                Communauté de Snowboarder.
            </div>
        </section>
    </div><!-- header -->

    <div class="content-block" id="blog">
        <div class="container blog-sec">
            <header class="block-heading cleafix">
                <a href="{{ path('trick_add') }}" class="btn btn-o btn-lg pull-right">Ajoutez une figure !</a>
                <div class="title-page">
                    <p class="main-header">Toutes les figures</p>
                    <p class="sub-header">Keep up with the latest happenings.</p>
                </div>
            </header>

            <section class="block-body">

                {% for trick in tricks %}

                    <div class="col-lg-3 card ">
                        <img src="{{ asset('assets/images/header-bg.jpg') }}">
                        <div class="row">
                            <div class="col-lg-7">
                                <a href="{{ path('tricks_show', {'id': trick.id}) }}"><h4>{{ trick.title }}</h4></a>

                            </div>
                            <div class="col-lg-5">


                                <a href="{{ path('trick_edit', {'id': trick.id}) }}">
                                    <button class="btn"><i class="fa fa-pencil"></i></button>
                                </a>
                                <a href="">
                                    <button class="btn"><i class="fa fa-trash"></i></button>
                                </a>


                            </div>
                        </div>
                        <div class="row spacer">
                        </div>
                    </div>
                    {% endfor %}


            </section>
        </div>
    </div>
{% endblock %}