{% extends 'base.html.twig' %}



{% block body %}

    <div id="header" class="content-block">

        <section class="center">
            <div class="slogan">
                SNOWTRICKS
            </div>
            <div class="secondary-slogan">
                Communauté de Snowboarder.
            </div>
        </section>
    </div><!-- header -->







    <div class="content-block" id="blog">
        <div class="container blog-sec">
            <header class="block-heading cleafix">
                <a href="{{ path('trick_add') }}" class="btn btn-o btn-lg pull-right">Ajoutez une figure !</a>
                <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-o btn-lg pull-right">Editer la
                    figure !</a>
                <div class="title-page">
                    <p class="main-header">{{ trick.title }}</p>
                    <p class="sub-header">Ecrit le {{ trick.createdAt | date('d/m/Y') }}
                        à {{ trick.createdAt | date('H:i') }}</p>
                </div>
            </header>
            <article>
                <div class="container first-content">
                    <div class="row">
                        <div class="col-xs-8 col-md-9 col-xs-push-2 col-md-push-1">
                            <p>
                            <h3>Catégorie: {{ trick.category | raw }} </h3>
                            <h3>Description:</h3> {{ trick.content | raw }}
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <h2 class="soustitre">
                                    Photos</h2>
                            </div>
                        </div>
                        <section class="block-body">

                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic"
                                                data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic"
                                                data-slide-to="1"></li>
                                        </ol>

                                        <div class="carousel-inner" role="listbox">
                                            {% for image in trick.images %}
                                                <div class="item {{ (loop.first)? "active":"" }}">
                                                    <img src="{{ asset('uploads/image/'~ image.file) }}" alt="">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-example-generic" role="button"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" role="button"
                                           data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <h2 class="soustitre">
                                        Vidéos</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div id="carousel-video" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-video"
                                                data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-video"
                                                data-slide-to="1"></li>
                                            <li data-target="#carousel-video"
                                                data-slide-to="2"></li>
                                        </ol>
                                        <!-- Wrapper for slides -->

                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <iframe width="1150" height="500"
                                                        src="https://www.youtube.com/embed/watch?v=H1dvF-F1sq0"
                                                        frameborder="0" allowfullscreen></iframe>
                                            </div>
                                            <div class="item">
                                                <iframe width="1150" height="500"
                                                        src="https://www.youtube.com/embed/-ClNrBe-fr4" frameborder="0"
                                                        allowfullscreen></iframe>
                                            </div>
                                            <div class="item">
                                                <iframe width="1150" height="500"
                                                        src="https://www.youtube.com/embed/VXb3IjPh3sI" frameborder="0"
                                                        allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-video" role="button"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-video" role="button"
                                           data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <section id="commentaires">
                    <h1>Section Commentaire</h1>
                    {% if  app.user %}

                        {{ form_start(commentForm) }}
                        {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}

                        <button type="submit" class="btn btn-success"> Commenter !</button>
                        {{ form_end(commentForm) }}
                    {% else %}
                        <p> Vous devez vous connectez pour commentez </p>
                    {% endif %}
                    {% for comment in trick.comments() %}

                        <div class="comment">
                            <div class="row">
                                <div class="col-3">
                                    {{ comment.author }} (<small>{{ comment.createdAt | date ('d/m/Y à H:i') }}</small>
                                </div>
                                <div class="col">
                                    {{ comment.content | raw }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </section>

        </div>

    </div><!-- #blog -->




{% endblock %}