{% extends 'base.html.twig' %}
    {% block body %}
        <style>
            #header {
            {% if trick.images[0] is defined %} background-image: url('../../{{ trick.images[0].webPath}}');

            {% else %} background-image: url('{{ asset('assets/images/header-bg.jpg') }}');

            {% endif %} box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
            }

            .thumbnail {
                position: relative;
                height: 250px;
                overflow: hidden;
            }

            .img-thumbnail {
                position: absolute;
                top: -9999px;
                left: -9999px;
                right: -9999px;
                bottom: -9999px;
                margin: auto;
            }
        </style>
        <!-- header -->
        <div id="header" class="content-block">
            <section class="center">
                <div class="snowslogan">
                    {{ trick.title }}
                </div>
                <div class="actions">
                    {% if app.user %}
                        <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-o btn-lg ">
                            <i class="fa fa-pencil"></i>
                        </a>
                        </br>
                        <a href="" data-toggle="modal" data-target="#delete"
                           class="btn btn-o btn-lg pull-right"><i class="fa fa-trash"></i> </a>
                    {% endif %}
                </div>
            </section>
        </div>
        <!-- header -->

        <div class="separatorinvisible">
        </div>



        <div class="container">
           <center> <button id="media-plus" type="button" class="btn btn-info">Voir les images et vidéos </button> </center>
            <div id="media">
                <button id="media-remove" type="button" class="btn btn-info">Masquer </button>
                <div class="row">
                    {% for image in trick.images %}
                        <div class="item {{ (loop.first)? "active":"" }}">
                            <div class="col-lg-3 col-sm-12">
                                <a class="thumbnail" style="max-height: 400px" href="{{ asset(''~ image.webPath) }}" data-image-id=""
                                   data-toggle="modal" data-title=""
                                   data-image="{{ asset(''~ image.webPath) }}"
                                   data-target="">
                                    <img class="img-thumbnail"
                                         src="{{ asset(''~ image.webPath) }}"
                                         alt="Another alt text ( sa marche pas )">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% for video in trick.videos %}
                        <div class="item {{ (loop.first)? "active":"" }}">
                            <div class="col-md-3">
                                <iframe height="200px" src="{{ video.url }}" allowfullscreen=""
                                        frameborder="0">
                                </iframe>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="">
                    <div class="centertext">
                        <h3>Description :</h3>
                    </div>
                </div>
                <div>
                    <p>{{ trick.content }}</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="title-page">
                    <div class="centertext">
                        <h3>{{ trick.title }} ,
                            {{ trick.category | raw }},
                            écrit le {{ trick.createdAt | date('d/m/Y') }}
                            à {{ trick.createdAt | date('H:i') }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="separator">
        </div>

        <div class="container">
            <div class="row">
                <div class="centertext">
                    <h1>Section Commentaire</h1>
                </div>
            </div>
            {% if  app.user %}
                {{ form_start(commentForm) }}
                {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
                <button type="submit" class="btn btn-success"> Commenter !</button>
                {{ form_end(commentForm) }}
                </br>
            {% else %}
                <p> Vous devez vous connectez pour commentez </p>
            {% endif %}

            <section class="block-body">
                <div class="row" id="comments" data-offset="0" data-limit="4"></div>
                <div class="text-center">
                    <button id="more" type="button" class="btn btn-o btn-lg ">Voir plus <i id="load"
                                                                                           class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>

            </section>
            <div class="separatorinvisible">
            </div>


            <div class="modal" id="delete">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h4 class="modal-title">Suppression</h4>
                        </div>
                        <div class="modal-body">
                            La suppression d'un article étant définitive, veuillez être sûr de votre action.
                        </div>
                        <div class="modal-footer">
                            <form action="{{ path('trick_delete', {'id': trick.id}) }}" method="post">
                                <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                                <a href="{{ path('tricks_show', {'id': trick.id}) }}" class="btn btn-success">
                                    Voir la figure
                                </a>
                                <input type="submit" value="Supprimer" class="btn btn-danger"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>





    {% endblock %}
 {% block javascripts %}

     {{ parent() }}
     <script>
         jQuery(document).ready(function () {

             var offset = jQuery('#comments').data('offset');
             var limit = jQuery('#comments').data('limit');
             var total = 0;

             function request(offset, limit) {
                 jQuery.ajax({
                     url: "{{ path('comments_more',{'id': trick.id}) }}",
                     method: "POST",
                     data: {
                         'offset': offset,
                         'limit': limit,
                     },
                     success: function (result) {
                         total = result.length;
                         if (total < limit) {
                             //$("#more").prop('disabled',true);
                             jQuery("#more").hide();
                         }

                         for (var i = 0; i < result.length; i++) {
                             var comments = result[i];

                             var html =
                                 "\n" +
                                 "            <div class=\"container\">\n" +
                                 "                <div class=\"row\">\n" +
                                 "                    <div class=\"col-sm-1\">\n" +
                                 "                        <div class=\"thumbnail-comment\">\n" +
                                 "                             <span class=\"avatar avatar-lg bg-gradient-blue mr-3\">" + comments['user'].slice(0,1) + "</span>\n"+
                                 "                        </div><!-- /thumbnail -->\n" +
                                 "                    </div><!-- /col-sm-1 -->\n" +
                                 "\n" +
                                 "                    <div class=\"col-sm-5\">\n" +
                                 "                        <div class=\"panel panel-default\">\n" +
                                 "                            <div class=\"panel-heading\">\n" +
                                 "                                <strong> " + comments['user'] + "</strong> <span\n" +
                                 "                                        class=\"text-muted\"> " + '' + "</span>\n" +
                                 "                            </div>\n" +
                                 "                            <div class=\"panel-body\">\n" +
                                 "                                " + comments['content'] + "\n" +
                                 "                            </div><!-- /panel-body -->\n" +
                                 "                        </div><!-- /panel panel-default -->\n" +
                                 "                    </div><!-- /col-sm-5 -->\n" +
                                 "                </div>\n" +
                                 "            </div>\n" +
                                 "            </div>\n" +
                                 "            </div>\n"


                             jQuery('#comments').append(html);
                         }

                     }
                 });
                 jQuery('#load').hide();
                 jQuery('#comments').animate({
                     opacity: 1,
                 }, 1000);

             }


             request(offset, limit);

             offset = jQuery('#comments').data("offset") + limit;

             jQuery('#more').on('click', function () {
                 jQuery('#comments').animate({
                     opacity: 0,
                 }, 100);
                 request(offset, limit);
                 offset += jQuery('#comments').data("offset") + limit;
             });

             jQuery('#media-plus').on('click', function () {
                 jQuery('#media').show();
                 jQuery('#media-plus').hide();

             });
             jQuery('#media-remove').on('click', function () {
                 jQuery('#media').hide();
                 jQuery('#media-plus').show();
             });
         });
     </script>

 {% endblock %}