{% extends 'base.html.twig' %}
    {% block body %}
        <style>
            #header {
            {% if trick.images[0] is defined %} background-image: url('../../{{ trick.images[0].webPath}}');

            {% else %} background-image: url('{{ asset('assets/images/header-bg.jpg') }}');

            {% endif %} box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
            }

            .thumbnail {
                position: relative;
                height: 250px;
                overflow: hidden;
            }

            .img-thumbnail {
                position: absolute;
                top: -9999px;
                left: -9999px;
                right: -9999px;
                bottom: -9999px;
                margin: auto;
            }
        </style>
        <!-- header -->
        <div id="header" class="content-block">
            <section class="center">
                <div class="slogan">
                    {{ trick.title }}
                </div>
                <div class="actions">
                    {% if app.user %}
                        <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-o btn-lg ">
                            <i class="fa fa-pencil"></i>
                        </a>
                        </br>
                        <a href="" data-toggle="modal" data-target="#delete"
                           class="btn btn-o btn-lg pull-right"><i class="fa fa-trash"></i> </a>
                    {% endif %}
                </div>
            </section>
        </div>
        <!-- header -->

        <div class="separatorinvisible">
        </div>

        <div class="container">
            <div class="row">
                {% for image in trick.images %}
                        <div class="item {{ (loop.first)? "active":"" }}">
                            <div class="col-lg-3 col-sm-12">
                                    <a class="thumbnail" style="max-height: 400px" href="#" data-image-id=""
                                       data-toggle="modal" data-title=""
                                       data-image="{{ asset(''~ image.webPath) }}"
                                       data-target="">
                                        <img class="img-thumbnail"
                                             src="{{ asset(''~ image.webPath) }}"
                                             alt="Another alt text ( sa marche pas )">
                                    </a>
                            </div>
                    {% endfor %}
                    {% for video in trick.videos %}
                        <div class="item {{ (loop.first)? "active":"" }}">
                            <div class="col-md-3">
                                <iframe height="200px" src="{{ video.url }}" allowfullscreen=""
                                        frameborder="0">
                                </iframe>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="">
                    <div class="centertext">
                        <h3>Description :</h3>
                    </div>
                </div>
                <div>
                    <p>{{ trick.content }}</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="title-page">
                    <div class="centertext">
                        <h3>{{ trick.title }} ,
                            {{ trick.category | raw }},
                            écrit le {{ trick.createdAt | date('d/m/Y') }}
                            à {{ trick.createdAt | date('H:i') }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="separator">
        </div>

        <div class="container">
        <div class="row">
        <div class="centertext">
            <h1>Section Commentaire</h1>
        </div>
        </div>
        {% if  app.user %}
            {{ form_start(commentForm) }}
            {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
            <button type="submit" class="btn btn-success"> Commenter !</button>
            {{ form_end(commentForm) }}
            </br>
        {% else %}
            <p> Vous devez vous connectez pour commentez </p>
        {% endif %}
        {% for comment in trick.comments() %}

            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="thumbnail-comment">
                            <img class="img-responsive-comment user-photo"
                                 src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        </div><!-- /thumbnail -->
                    </div><!-- /col-sm-1 -->

                    <div class="col-sm-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{ comment.user.username }}</strong> <span
                                        class="text-muted">{{ comment.createdAt | date ('d/m/Y à H:i') }}</span>
                            </div>
                            <div class="panel-body">
                                {{ comment.content | raw }}
                            </div><!-- /panel-body -->
                        </div><!-- /panel panel-default -->
                    </div><!-- /col-sm-5 -->
                </div>
            </div>
            </div>
            </div>

        {% endfor %}
        <section class="block-body">
            <div class="row" id="tricks" data-offset="0" data-limit="4" data-web-path="{{ asset('') }}"
            </div>
            <div class="text-center">
                <button id="more" type="button" class="btn btn-o btn-lg ">Voir plus <i id="load"</i>
                </button>
            </div>

        </section>
        <div class="separatorinvisible">
        </div>



        <div class="modal" id="delete">
            <div class="modal-dialog">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h4 class="modal-title">Suppression</h4>
                    </div>
                    <div class="modal-body">
                        La suppression d'un article étant définitive, veuillez être sûr de votre action.
                    </div>
                    <div class="modal-footer">
                        <form action="{{ path('trick_delete', {'id': trick.id}) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                            <a href="{{ path('tricks_show', {'id': trick.id}) }}" class="btn btn-default">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Voir la figure
                            </a>
                            <input type="submit" value="Supprimer" class="btn btn-danger"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>





    {% endblock %}